@import "tailwindcss";

:root {
  --bg-primary: #0d1117;
  --bg-secondary: #161b22;
  --accent-orange: #ff7e29;
  --accent-blue: #007bff;
  --text-primary: #f8f0f0;
  --text-secondary: #c9d1d9;
  --border-color: #30363d;
  --hover-orange: #ffa94d;
  --hover-blue: #33a1fd;
  --text-success: rgb(10, 225, 10);
  --transition: ease-in-out 0.5s;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  scroll-behavior: smooth;
}
button {
  border: none;
  border-radius: 10px;
  padding: 8px 16px;
  cursor: pointer;
}
.df {
  display: flex !important;
}
.dn {
  display: none;
}

@media screen and (max-width: 480px) {
  button {
    padding: 5px 10px;
    font-size: 12px;
  }
  .mainContainer {
    width: 95%;
  }
}
