.register {
  min-height: 80vh;
  background-image: url("../../public/bg.png");
  background-size: cover;
}
.registerFormContainer small {
  padding: 10px;
  color: var(--text-secondary);
}
.registerForm {
  margin-top: 20px;
  background-color: var(--bg-secondary);
  border-radius: 20px;
  box-shadow: 5px 5px 6px 1px var(--bg-primary);
  /* x-axis y blur spread */
  min-width: 320px;
  padding: 20px;
}

.formElement {
  gap: 5px;
  font-size: 14px;
}
.formInput {
  padding: 10px 20px;
  font-size: 12px;
  border: 0.3px solid var(--bg-primary);
  outline-color: var(--text-secondary);
  border-radius: 10px;
}
label {
  font-weight: 600;
}
.signUpButton {
  background-color: var(--accent-orange);
  color: var(--text-primary);
  width: 200px;
  text-align: center;
}
.registerForm .info {
  font-size: 13px;
  font-family: cursive;
}
