.createCommnityPostForm {
  background-color: var(--bg-secondary);
  border-radius: 20px;
  box-shadow: 5px 5px 6px 1px var(--bg-primary);
  /* x-axis y blur spread */
  min-width: 320px;
  padding: 20px;
}

.formElement {
  gap: 5px;
  font-size: 14px;
}
.formInput {
  padding: 10px 20px;
  font-size: 12px;
  border: 0.3px solid var(--bg-primary);
  outline-color: var(--text-secondary);
  border-radius: 10px;
}
label {
  font-weight: 600;
}
.createCommunityButton {
  background-color: var(--text-success);
  color: var(--text-primary);

  text-align: center;
}
